* {
    
    margin: 0px;
    border: 0;
   
}

body {
    background: darkgrey;
}

.jumbotron {
    background-color:rgb(2, 124, 2);
    
}

.display-4 {
    font-family: 'Anton', sans-serif;
    color: white;
    
}

.lead {
    color: white;
}

h3 {
    padding: 10px;
}


.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 70px
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}



.checkbox {
    margin: 20px;
    font-size: 30px;
    font-weight: 2px;
}


.form {
    height: 100%;
}

.card {
    height: 100%;

}

.form-check {
    margin: 0px 20px;
}

.results {
    width: 500px;
    height: 500px;
    background-color: blue;
    

}